.jumbotron {
	background-color: #00bfff!important;
	font-family: 'Gloria Hallelujah', cursive;
}

.panel-heading {
	background-color: #00bfff!important;
	font-family: 'Gloria Hallelujah', curisve;
}



